@import 'navbar';

/* Estilo nueva area */
#input-nueva-area {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    
    &.show {
        opacity: 1;
        height: auto;
        padding: 15px;
        background: #f8f9fa;
        border-radius: 4px;
        margin-top: 10px;
    }
}