/* En tu archivo CSS */
.modal.fade.show {
    z-index: 9999 !important;
    display: block !important;
}

.modal-backdrop.fade.show {
    z-index: 9998 !important;
}

/* Estilo nueva area */
#input-nueva-area {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

#input-nueva-area.show {
    opacity: 1;
    height: auto;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 4px;
    margin-top: 10px;
}